h1 {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 26px;
    letter-spacing: -1.2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: underline solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: capitalize;
}

body {
    background-color: limegreen;

}

h1 {
    text-align: center;
}

body {
    border: 6px solid #1C6EA4;
}